body {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-decoration: underline;
}

a {
  color: #a9a9a9;
}

a:hover {
  color: #1e5f74;
}

a:visited {
  color: #2e90b0;
}

img {
  height: 200px;
}

hr {
  border-style: none;
  border-width: 1000px;
  background-color: #bbbfca;
  height: 3px;
}

.botulism-img {
  height: 500px;
}
